<div class="relative bg-fog-200 text-fog-900">
	<form class="flex items-center border shadow rounded z-10">
		<label for="addressInput" class="sr-only">Address</label>
		<input id="addressInput" name="addressInput" type="text" placeholder="Enter an address to search" required="required" class="w-full px-3 py-2 rounded-l border border-transparent focus:border-blue-200 outline-none focus:shadow-outline  bg-fog-200 placeholder-fog-700">
		<button class="p-3 hover:bg-fog-500">
			{% include "@atoms/04-images/search.twig" %}
		</button>
	</form>
    <div class="w-full -mt-1 rounded-b border-l border-r z-0">
    {% include "@cells/address/address-result.twig" %}
    </div>
</div>
