{% include "@molecules/navigation/02-breadcrumbs.twig" with {
    "items": [
        "TSP",
        "Chapter 2"
    ]
} only %}
<h1 class="uppercase font-semibold">2.1 Section name</h2>
<p class="italic text-lg text-gray-500 leading-tight">Last updated July 25, 2019</p>
{% for i in 0..3 %}
    <h2>Sub Heading</h2>
    {% include "@atoms/02-text/01-paragraph.twig" %}
{% endfor %}
