{% include "@cells/header/header.twig" %}
<main>
  <div class="hero-image h-screen-32">
    <div class="w-full md:w-3/ lg:w-1/2 px-2 pt-6 mx-auto text-white">
      <h1 class="text-center">Welcome to Portland in the year 2035</h1>
      {% embed "@cells/_two-columns.twig" %}
        {% block first %}
          {% include "@molecules/button.twig" with {
            "color": "blue",
            "content": "Check out your streets"
          } %}
        {% endblock %}
        {% block second %}
          {% include "@molecules/button.twig" with {
            "color": "blue",
            "content": "Read about our plans"
          } %}
        {% endblock %}
      {% endembed %}
    </div>
  </div>
  <section class="container px-2 py-3 mx-auto">
    <h2>
      Portland's Transportation System Plan
    </h2>
    <p>
      Portland’s 2035 Transportation System Plan (TSP) is a roadmap for the next 20 years of transportation policy and investment, helping us face the challenges of a growing city. The TSP outlines how we balance safety, equity and the demands of our economy. It enshrines the values of complete neighborhoods with more options for getting around. And it tells the story of how all of our planning efforts lead us to a less congested, more livable tomorrow.
    </p>
    <h3>
      What is the TSP?
    </h3>
    <p>
      The Transportation System Plan is the 20-year plan to guide transportation policies and investments in Portland by:
    </p>
    <ul>
      <li>
        supporting the City’s commitment to Vision Zero by saving lives and reducing injuries to all people using our transportation system
      </li>
      <li>
        helping transit and freight vehicles to move more reliably
      </li>
      <li>
        reducing, carbon emissions and promoting healthy lifestyles
      </li>
      <li>
        keeping more money in the local economy, as we spend less on vehicles and fuel
      </li>
      <li>
        <span>creating great places</span>
      </li>
    </ul>
  </section>
  <section class="bg-cyan-500">
    <img class="mx-auto" src="../../images/mode-share-diagram.png"/>
  </section>
  <section class="container px-2 py-3 mx-auto">
    <h3>Using the TSP Digital Document</h3>
    <p>
      <span>This digital version of the document is intended to serve as a tool and resource for people trying to use different components of the TSP. Sections available here include Major Projects, Street Classifications, Master Street Plans, and Area Plans. This is by no means a full version of the document, so visit this site to view the document in its entirety:</span>
      <a href="https://www.portlandoregon.gov/transportation/67263">https://www.portlandoregon.gov/transportation/67263</a>
    </p>
  </section>
</main>
