{% include "@cells/00-global/00-header.twig" %}
<main class="container mx-auto px-2">
{% include "@molecules/navigation/02-breadcrumbs.twig" with {
    "items": [
        "TSP",
        "Master system plan"
    ]
} only %}
{% include "@cells/project/project-full.twig" %}
</main>