<nav id="nav">
	<ul class="list-none flex items-center text-white">
		<li class="mx-2"><a href="{{ url }}">Home</a></li>
		<li class="mx-2"><a href="{{ url }}">About</a></li>
		<li class="mx-2"><a href="{{ url }}">Blog</a></li>
		<li class="mx-2"><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
