<nav id="nav">
  <ul class="list-none flex flex-wrap items-center p-0 -mx-2">
    <li class="mx-2">
      <a href="{{ url }}">Support</a>
    </li>
    <li class="mx-2">
      <a href="{{ url }}">Help</a>
    </li>
    <li class="mx-2">
      <a href="{{ url }}">About</a>
    </li>
  </ul>
</nav>
<!--end .nav-->
