<nav class="pager text-center" role="navigation" aria-labelledby="pagination-heading">
  <h4 id="pagination-heading" class="sr-only">Pagination</h4>
  <div class="inline-flex p-1 bg-fog-500 rounded">
    <span title="Go to previous page" rel="prev" href="" class="hover:bg-fog-700 font-bold py-1 px-3 rounded cursor-not-allowed text-gray-500">
      <span class="sr-only">Previous page</span>
      <span aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current h-6 w-6 feather feather-chevron-left">
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
      </span>
    </span>
    <a class="hover:bg-fog-700 border-2 border-fog-500 hover:border-black font-bold py-1 px-3 rounded bg-blue-500 hover:bg-blue-700 text-white mx-1" href="?fulltext=&amp;page=0" title="Current page">
      <span class="sr-only">
        Current page
      </span>1</a>
    <a class="hover:bg-fog-700 border-2 border-fog-500 hover:border-black font-bold py-1 px-3 rounded mx-1" href="?fulltext=&amp;page=1" title="Go to page 2">
      <span class="sr-only">
        Page
      </span>2</a>
    <a class="hover:bg-fog-700 border-2 border-fog-500 hover:border-black font-bold py-1 px-3 rounded mx-1" href="?fulltext=&amp;page=2" title="Go to page 3">
      <span class="sr-only">
        Page
      </span>3</a>
    <a class="hover:bg-fog-700 border-2 border-fog-500 hover:border-black font-bold py-1 px-3 rounded mx-1" href="?fulltext=&amp;page=3" title="Go to page 4">
      <span class="sr-only">
        Page
      </span>4</a>
    <span class="hover:bg-fog-700 font-bold py-1 px-3 rounded" role="presentation">…</span>
    <a title="Go to next page" rel="prev" href="?fulltext=&amp;page=1" class="hover:bg-fog-700 border-2 border-fog-500 hover:border-black font-bold py-1 px-3 rounded">


      <span class="sr-only">Next page</span>
      <span aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroek-current h-6 w-6 feather feather-chevron-right">
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </span>
    </a>
  </div>
</nav>
