<div>
    {% embed "@cells/_two-columns.twig" with {
        "wrapperClasses": [
            "flex",
            "flex-col",
            "lg:flex-row",
            "-mx-2",
            "my-3",
        ]
    } %}
        {% block first %}
            <h1>Project name</h1>
            {% include "@molecules/text/lead-paragraph.twig" %}
        {% endblock %}
        {% block second %}
            {% include "@cells/map/map.twig" with {
                "classes": [
                    "h-screen-32",
                    "bg-fog-600",
                ],
                "content": "Second column"
            } only %}
        {% endblock %}
    {% endembed %}
</div>
{% include "@atoms/02-text/01-paragraph.twig" %}
