<main>
    {% embed "@cells/_two-columns.twig" with {
        'firstClasses' : [
            "w-full",
            "md:w-1/3",
            "p-2",
            "h-screen-50",
            "lg:h-screen",
            "overflow-y-auto"
        ],
        'secondClasses' : [
            "w-full",
            "lg:flex-1",
            "h-screen-50",
            "lg:h-screen",
        ],
    } only %}
        {% block first %}
            {% include "@organisms/street/street-listing.twig" with {
                "candidates": [
                    {
                        "name": "SW MAIN ST",
                        "id": "TP001-1234",
                        "bicycle": "major",
                        "transit": "minor",
                        "emergency": "minor"
                    }
                ]
            } %}
        {% endblock %}
        {% block second %}
            {% include "@cells/classification/classification-map.twig" with {
                "classes": [
                    "h-full",
                ]
            } %}
        {% endblock %}
    {% endembed %}
</main>
